body{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(goo.jpg) ;
    background-size: cover;
    font-family: sans-serif;


}

.navbar{
    width: 85%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    padding: 10px 0;
}
  ul li{
    list-style: none;
    display: inline-block;
    margin: 10px ;
    color:  white;
    position: relative;
    border: 1px solid aqua;
    border-radius: 25px;
    width: 100px; 
    padding: 10px;
    transition: 1s;
    

}



h1{
   text-align: center;
   color: #fff;
   margin-top: 10%;

}

p{
    text-align: center;
    color: #fff;

}

.btn1{
    padding: 17px;
    width: 100px;
    margin-left:41% ;
    border: none;
    border-radius: 25px;
    border: 2px solid #32a091;
    background :transparent ;
    color: white ;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 1s;
    font-size:25px  ;
    
    

}
.btn2{
    margin-left: 30px;
    width:100px ;
    padding:17px ;
    border-radius: 25px;
    border: 2px solid #32a091;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: 1s;
    position: relative;
    overflow: hidden;
    font-size: 25px;
    
    
   
}
.btn2:hover {
    background-color: turquoise;

}


.btn1:hover {background-color: turquoise;}


ul li:hover{
    background-color: aqua;
}


